body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: auto;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
}

input {
  margin: 5px;
  padding: 6px;
}

button {
  margin: 5px;
  padding: 6px 10px;
}
